# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\ebina4yaka\PycharmProjects\flask-get-main-color\.idea/dataSources/
/dataSources.local.xml
# エディターベースの HTTP クライアントリクエスト
/httpRequests/
